/** ========================================================================= */
/** This stylesheet is used for index.html                                    */
/** Created by Jia Hao Choo for GGR472 Lab 4 (Winter 2024), modified from     */
/** code template provided by the instructor                                  */
/** ========================================================================= */

/* Styling for the map */
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/* Styling for the map layer controls panel */
#control {
  position: absolute;
  background-color: lavender;
  border: solid 1px #333333;
  border-radius: 5px;
  padding: 5px;
}

/* Styling for the legend */
#legend {
  position: absolute;
  /* put it at the bottom left corner */
  bottom: 30px;
  left: 20px;
  background-color: white;
  border: solid 1px #333333;
  border-radius: 5px;
  padding: 10px;
}
